.home{
    display: flex;
    min-height: 100vh;
    gap: 10px;
}

.homeContainer{
    flex: 5;
    overflow-y: auto;
    height: calc(100vh - 10px);
    padding-inline: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.widgets{
    display: flex;
    gap: 20px;
}
.bottomContainer{
    display: flex;
    gap: 20px;
    padding-inline-end: 10px;
}
.barChart{
    flex: 3;
    background-color: white;
}
.rightContainer{
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 20px;
}
.recentServiceContainer{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.middleContainer h3{
    margin: 0;
    margin-bottom: 10px;
    font-weight: 600;
}
recentsContainer{
    box-shadow: 2px 4px 10px 1px rgba(201,201,201,0.47);
    -webkit-box-shadow: 2px 4px 10px 1px rgba(201,201,201,0.47);
    -moz-box-shadow: 2px 4px 10px 1px rgba(201,201,201,0.47);
    border-radius: 10px;
    padding: 10px;
}
.rightContainer h3{
    margin: 0;
    font-weight: 600;
}