.homeContainer{
    display: flex;
    height: 100vh;
    width: 100vw;
}
aside{
    flex: 1;
    padding-inline: 12px 10px;
    position: relative;
}
aside h2.name{
    color: #d74221;
    font-size: 32px;
    font-weight: bold;
    margin: 0;
    margin-block: 0px 20px;
}
aside span{
    color: rgb(146, 146, 146);
}
aside p{
    padding-left: 14px;
    display: flex;
    place-items: center;
    gap: .8rem;
    margin: 0;
    margin-block: .8rem;
    color: rgb(61, 60, 60);
    cursor: pointer;
    transition: all 300ms ease;
}
aside p:hover{
    color: #d74221;
    transform: scale(.94);
}
aside p.active{
    background-color: #d74221;
    color: white;
    border-radius: 4px;
    padding-block: 5px;
}
aside button{
    position: absolute;
    bottom: 20px;
    background: transparent;
    border: none;
    color: white;
    background-color: #d74221;
    padding: 7px 14px;
    border-radius: 4px;
    font-size: 14px;
    width: calc(100% - 24px);
}





main{
    flex: 5;
    background-color: rgba(245, 245, 245, 0.993);
}