:root {
  --primary-color: #d74221;
}
.container {
  background-color: white;
  height: 100vh;
  width: 100vw;
  position: relative;
  /* overflow: hidden; */
}

.formContainer {
  display: flex;
  justify-content: center;
}
.formWrapper {
  background-color: white;
  padding: 20px 60px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}
.formWrapper form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.formWrapper .form {
  padding: 20px 60px;
  border-radius: 10px;
  border: 1px solid rgb(212, 212, 212);
}
.formWrapper .form span {
  display: flex;
  justify-content: center;
  color: rgb(29, 29, 29);
  font-weight: 600;
  font-size: 28px;
  margin-bottom: 20px;
}
.formWrapper form input {
  padding: 12px;
  border: none;
  border: 2px solid rgb(212, 212, 212);
  width: 300px;
  border-radius: 10px;
}
.formWrapper form button {
  margin-block-start: 1rem;
  width: fit-content;
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
  background: transparent;
  margin-inline: auto;
  padding: 8px 40px;
  border-radius: 22px;
  font-size: 16px;
  cursor: pointer;
  transition: all 300ms ease;
}
.formWrapper form button:hover {
  background-color: var(--primary-color);
  color: white;
}
.formWrapper .password {
  position: relative;
}
.footer {
  background-color: #d74221;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  width: calc(100% - 40px);
  height: 100px;
  margin-inline: 20px;
  color: white;
  font-size: large;
  position: absolute;
  bottom: 20px;
}
.footer p sup {
  font-size: 12px;
}
