.jobCardContainer{
    margin-block: 10px 20px;
}
.jobCard{
    width: 70%;
    margin-inline: auto;
    border: 1px solid rgb(192, 190, 190);
    padding: 10px;
    border-radius: 10px;
}
.jobCard .header{
    display: flex;
    justify-content: space-between;
}

.jobCard .header .leftHeader p{
    margin: 0;
    margin-bottom: 2px;
    font-weight: bold;
}

.jobCard .header .leftHeader p a{
    color: #d63915;
}
.rightHeader{
    width: 240px;
}
.rightHeader .logoName p{
    margin: 0;
    font-weight: bold;
    font-size: 30px;
}
.rightHeader .logoName p sup{
    font-size: 12px;
}
.rightHeader .logoName{
    background-color: red;
    color: white;
    text-align: center;
    padding-block: 10px;
}
.rightHeader .logotext{
    background-color: red;
    color: white;
    margin-top: 2px;
}
.rightHeader .logotext p{
    margin: 0;
    text-align: center;
}
.formTitle{
    color: red;
    text-decoration: underline;
    text-align: center;
}
.jobcardTitle{
    font-weight: 600;
    display: flex;
    flex-direction: column;
    text-align: right;
}
.jobcardTitle p{
    margin: 0;
}
 form {
    display: flex;
    flex-direction: column;
 }
 form >div{
    margin-bottom: 5px;
 }
 form label{
    margin-inline-end: 10px;
 }
form input{
    width: 300px;
    border: none;
    border-bottom: 1px dashed rgb(170, 168, 168);
}
textarea{
    resize: none;
}
form input[type = 'date']{
    width: max-content;
}
form button{
    width: max-content;
    padding: 4px 14px;
    color: #d63915;
    border: 2px solid #d63915;
    background-color: transparent;
    border-radius: 5px;
    font-size: 14px;
    margin-top: 16px;
    transition: all 300ms ease;
}
form button:hover{
    background-color: #d63915;
    color: white;
}